html {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	line-height: 24px;
}

body {
	margin: 0px;
}

p {
	text-indent: 36px;
}

nav li {
	display: inline-block;
	padding: 8px 8px 8px 8px;
}

header h1 {
	color: white;
	background-color: #CC0000;
	margin: 0px;
	padding: 100px;
}

nav ul {
	border-top: solid white;
	background-color: #CC0000;
	margin: 0px;
	padding: 10px;
}

nav a, footer a {
	color: white;
}

nav a:hover, footer a:hover {
	color: #770000;
}

footer {
	color: white;
	background-color: #CC0000;
	padding: 24px;
}

footer ul {
	list-style-type:none;
}


section {
	margin: 24px;
}

section dt {
	font-weight: bold;
}

a {
	color: #FF0000;
	text-decoration: none;
}

a:hover {
	color: #770000;
}

.center {
	text-align: center;
}

p, li, dd {
	color: #434343;
}

::selection {
  color: white;
  background: #FF0000;
}