@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-50: #ffeef1;
  --color-primary-100: #ffdae0;
  --color-primary-200: #ffbbc6;
  --color-primary-300: #ff8b9e;
  --color-primary-400: #ff4967;
  --color-primary-500: #ff1139;
  --color-primary-600: #ff002b;
  --color-primary-700: #e70027;
  --color-primary-800: #be0020;
  --color-primary-900: #960019;
  --color-primary-950: #56000e;

  --font-display: "Montserrat", sans-serif;
  --font-sans: "Noto Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --tw-ease: linear;
  --tw-duration: 0.1s;
}

.button {
  @apply transition-all inline-block bg-primary-700 text-primary-50 rounded-4xl py-2 px-4 shadow-xl inset-shadow-sm inset-shadow-primary-500
		hover:bg-primary-600 hover:scale-105 hover:shadow-2xl hover:inset-shadow-primary-400
		active:bg-primary-700 active:scale-95 active:shadow-none active:inset-shadow-primary-900;
}

.icon-button {
  @apply transition-all inline-block text-primary-50
		hover:border-primary-500 hover:scale-150 hover:drop-shadow-2xl
		active:text-primary-800 active:scale-80 active:drop-shadow-xs;
}
